/*
BookShelf style sheet

2018/11/11 y.ikeda
*/

/*
白
#EFF7FF
黄色
#E8DB7D
緑
#558C8C
赤
#82204A
黒
#231123

*/

/*
共通部分
*/
body {
    background-color: #EFF7FF;
    font-family:"メイリオ","Hiragino Kaku Gothic Pro",Meiryo,"ヒラギノ角ゴ Pro W3","MS PGothic","MS UI Gothic",Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #333;
}
input, textarea{
    font-size: 1rem;
    border: 1px solid #8496bd;
}
input[type="button"]{
    display: inline-block;
    /*padding: 0.5em 1em;*/
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
input[type="button"]:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.tblList {
    background-color:#fff;
}
.tblList td {
    border: solid 1px #558C8C;
    padding: 5px;
}
.infoTitle {
    background-color: #558C8C;
    color: #fff;
}
.light_str {
    color: #999;
    font-size: 50%;
}
.warning_message {
    color: #f00;
    font-weight: bold;
}


/*
一覧
*/
#img_book {
    width: 64px;
    height: 91px;
}
.tblPage {
    width: 100%;
    font-size: 0.8rem;
}
.tblPage td {
    text-align: right;
}

/*
登録/編集
*/
#title {
    width: 300px;
}
#comment {
    width: 300px;
    height: 50px;
}
#publisher_code {
    width: 50px;
}

