<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>図書一覧</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/static/css/books.css">
        <link rel="stylesheet" href="/static/css/booklist.css">
        <script src="/static/js/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <table>
            <tr>
                <th><a href="./">[ 一覧 ]</a></th>
                <td>&nbsp;|&nbsp;</td>
                <th><a href="./flatList">[ 平置き ]</a></th>
                <td>&nbsp;|&nbsp;</td>
                <th><a href="./enterNewBook">[ 登録 ]</a></th>
            </tr>
        </table>
        <table id="tblPageHeader" class="tblPage">
            <tr>
                <td class="align_left">
                    <form id="frmSearch" action="/">
                        <input type="text" id="txtSearch" placeholder="Search books." name="searchStr" value="{{ search_str }}" />
                        <svg id="svgGlass" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path>
                        </svg>
                    </form>
                </td>
                <td class="align_right">
                    {% include "booklist_pagination.html" %}
                </td>
            </tr>
        </table>
        <table id="tblBooksList" class="tblList">
            <tr>
                <td class="infoTitle">タイトル</td>
                <td class="infoTitle">著者</td>
                <td class="infoTitle">出版社</td>
                <!-- td class="infoTitle">ISBN</td -->
                <td class="infoTitle">コメント</td>
                <td class="infoTitle">タグ</td>
            </tr>
            {% for b in books %}
            <tr>
                <td>
                    <img id="imgBook" src="{{ b.image_url }}" />
                    <a href="./enterNewBook?isbn={{ b.isbn }}">{{ b.title }}</a>
                </td>
                <td>
                    {% for a in b.authors %}
                        {{ a }}<br />
                    {% endfor %}
                </td>
                <td>{{ b.publisher }}</td>
                <!-- td>{{ b.isbn }}</td -->
                <td>{{ b.comment }}</td>
                <td>
                    {% for t in b.tags %}
                        {{ t }}<br />
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <table id="tblPageFooter" class="tblPage">
            <tr>
                <td>
                    {# 検索機能 #}
                </td>
                <td class="align_right">
                    {% include "booklist_pagination.html" %}
                </td>
            </tr>
        </table>
    </body>
</html>
