<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>図書一覧</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/static/css/books.css">
        <script src="/static/js/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <table>
            <tr>
                <th>[ 一覧 ]</th>
                <td>&nbsp;|&nbsp;</td>
                <th><a href="./enter_new_book">[ 登録 ]</a></th>
                <td>&nbsp;|&nbsp;</td>
                <th>[ 編集 ]</th>
            </tr>
        </table>
        <br />
        <table id="tblBooksList" class="tblList">
            <tr>
                <td class="infoTitle">タイトル</td>
                <td class="infoTitle">著者</td>
                <td class="infoTitle">出版社</td>
                <!-- td class="infoTitle">ISBN</td -->
                <td class="infoTitle">コメント</td>
                <td class="infoTitle">タグ</td>
            </tr>
            {% for b in books %}
            <tr>
                <td>
                    <img id="img_book" src="{{ b.image_url }}" />
                    <a href="./enter_new_book?isbn={{ b.isbn }}">{{ b.title }}</a>
                </td>
                <td>
                    {% for a in b.authors %}
                        {{ a }}<br />
                    {% endfor %}
                </td>
                <td>{{ b.publisher }}</td>
                <!-- td>{{ b.isbn }}</td -->
                <td>{{ b.comment }}</td>
                <td>
                    {% for t in b.tags %}
                        {{ t }}<br />
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
