<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>図書一覧</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/static/css/books.css">
        <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script -->
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/js/enter_new_book.js"></script>
    </head>
    <body>
        <table>
            <tr>
                <th><a href="./">[ 一覧 ]</a></th>
                <td>&nbsp;|&nbsp;</td>
                {% if isbn=="" %}
                <th>[ 登録 ]</th>
                {% else %}
                <th><a href="./enter_new_book">[ 登録 ]</a></th>
                {% endif %}
                <td>&nbsp;|&nbsp;</td>
                <th>[ 編集 ]</th>
            </tr>
        </table>
        <br />
        <form action="./regist" method="POST" id="frmRegist">
        <table id="tblEnterBookInfos" class="tblList">
            <tr>
                <td class="infoTitle">ISBN</td>
            </tr>
            <tr>
                <td>
                    <input type="tel" id="isbn" name="isbn" value="{{ isbn }}"/>
                    <input type="button" id="btnSearchByISBN" value="本を検索" />
                </td>
            </tr>
            <tr>
                <td class="infoTitle">タイトル</td>
            </tr>
            <tr>
                <td>
                    <img id="img_thumbnail" />
                    <input type="hidden" id="image_url" name="image_url" />
                    <input type="text" id="title" name="title" />
                </td>
            </tr>
            <tr>
                <td class="infoTitle">著者</td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="num_of_authors" name="num_of_authors" value="1" />
                    <input type="text" id="authors0" name="author0" /><!-- input type="button" id="btnDelAuthor0" value="x" / --><br />
                    <input type="button" id="btnAddAuthors" value="著者を追加" />
                </td>
            </tr>
            <tr>
                <td class="infoTitle">出版社</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="publisher_code" name="publisher_code" readonly />
                    <input type="text" id="publisher" name="publisher" readonly />
                    <input type="hidden" id="publisher_key_id" name="publisher_key_id" />
                </td>
            </tr>
            <tr>
                <td class="infoTitle">コメント</td>
            </tr>
            <tr>
                <td><textarea id="comment" name="comment"></textarea></td>
            </tr>
            <tr>
                <td class="infoTitle">タグ</td>
            </tr>
            <tr>
                <td><input type="text" id="tags" name="tags" /><span class="light_str">(カンマ区切り)</span></td>
            </tr>
        </table>
        <input type="button" id="btnRegist" value="登録" />
        <input type="button" value="リセット" onclick="initialize();" />
    </form>
    <br />
    <br />
    <br />
    {% if isbn!="" %}
    <script language="JavaScript">
    search_book_by_isbn($("#isbn").val());
    </script>
    {% endif %}
    </body>
</html>