<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        {% if isbn == "" %}
            {% set func = "新規登録" %}
        {% else %}
            {% set func = "編集" %}
        {% endif %}
        <title>図書一覧 {{ func }}</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/static/css/books.css">
        <link rel="stylesheet" href="/static/css/enter_new_book.css">
        <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script -->
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/js/enter_new_book.js"></script>
    </head>
    <body>
        <table>
            <tr>
                <th><a href="./">[ 一覧 ]</a></th>
                <td>&nbsp;|&nbsp;</td>
                <th><a href="./enter_new_book">[ 登録 ]</a></th>
                <td>&nbsp;|&nbsp;</td>
                <th>[ 編集 ]</th>
            </tr>
        </table>
        <br />
        <form action="./regist" method="POST" id="frmRegist">
        <table id="tblEnterBookInfos" class="tblList">
            <tr>
                <td class="infoTitle">ISBN</td>
            </tr>
            <tr>
                <td>
                    <input type="tel" id="isbn" name="isbn" value="{{ isbn }}"/>
                    <input type="button" id="btnSearchByISBN" value="本を検索" />
                    <span id="spnSearchISBNMessage"></span>
                </td>
            </tr>
            <tr>
                <td class="infoTitle">タイトル</td>
            </tr>
            <tr>
                <td>
                    <span id="spnImageThumbnail" style="display:None" >
                        <img id="img_thumbnail" /><br />
                    </span>
                    <input type="hidden" id="image_url" name="image_url" />
                    <input type="text" id="title" name="title" />
                </td>
            </tr>
            <tr>
                <td class="infoTitle">著者</td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="num_of_authors" name="num_of_authors" value="1" />
                    <input type="text" id="authors0" name="author0" class="authors_n" /><!-- input type="button" id="btnDelAuthor0" value="x" / --><br />
                    <input type="button" id="btnAddAuthors" value="著者を追加" />
                </td>
            </tr>
            <tr>
                <td class="infoTitle">出版社</td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="publisher_code" name="publisher_code" readonly />
                    <input type="text" id="publisher" name="publisher" readonly />
                    <input type="hidden" id="publisher_key_id" name="publisher_key_id" />
                </td>
            </tr>
            <tr>
                <td class="infoTitle">コメント</td>
            </tr>
            <tr>
                <td><textarea id="comment" name="comment"></textarea></td>
            </tr>
            <tr>
                <td class="infoTitle">タグ<span class="light_str">(カンマ区切り)</span></td>
            </tr>
            <tr>
                <td><input type="text" id="tags" name="tags" /></td>
            </tr>
        </table>
        <input type="button" id="btnRegist" value="登録" />
        <input type="button" value="リセット" id="btnReset" />
        {% if isbn != "" %}
            {# 編集
                編集の場合は、削除用の項目を作り出す。
             #}
             <br /><br />
            <input type="button" id="btnDelete" value="削除" />
            <input type="hidden" id="hdnDelete" name="delete" value="0" />{# デフォルトは0(消さない) #}
        {% endif %}
    </form>
    <br />
    <br />
    <br />
    {% if isbn!="" %}
    <script language="JavaScript">
    search_book_by_isbn($("#isbn").val());
    </script>
    {% endif %}
    </body>
</html>