<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>図書一覧 平置き</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/static/css/books.css">
        <link rel="stylesheet" href="/static/css/flatBookList.css">
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <!-- link rel="stylesheet" href="/static/js/masonry_files/normalize.css" -->
        <link rel="stylesheet" href="/static/js/masonry_files/style.css">
        <script src="/static/js/masonry_files/minimasonry.js"></script>
        <script type="text/javascript" src="/static/js/flatBookList.js"></script>
    </head>

    <body>
        <table>
            <tr>
                <th><a href="./">[ 一覧 ]</a></th>
                <td>&nbsp;|&nbsp;</td>
                <th><a href="./enterNewBook">[ 登録 ]</a></th>
                <td>&nbsp;|&nbsp;</td>
                <th>[ 編集 ]</th>
            </tr>
        </table>
        <table id="tblPageHeader" class="tblPage">
            <tr>
                <td class="align_left">
                    <form id="frmSearch" action="/">
                        <input type="text" id="txtSearch" placeholder="Search books." name="searchStr" value="{{ search_str }}" />
                        <svg id="svgGlass" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path>
                        </svg>
                    </form>
                </td>
                <td class="align_right">
                    {% include "booklist_pagination.html" %}
                </td>
            </tr>
        </table>

        <div class="masonry">
            {# {% for _ in range(10) %} #}
            {% for b in books %}
            <div class="item">
                <img src="{{ b['image_url'] }}" /><br />
                {{ b['title'] }}
            </div>
            {% endfor %}
            {# {% endfor %} #}
        </div>

    </body>
</html>
