<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>図書一覧 メンテ画面</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/static/css/books.css">
        <link rel="stylesheet" href="/static/css/maintenance.css">
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/js/maintenance.js"></script>
    </head>

    <body>
        <h1>Maintenance</h1>
        <h3>CSV出力</h3>
        <form name="frmOutputCsv" id="frmOutputCsv" action="./output_csv">
            <input type="button" id="btnOutputCsv" value="CSV出力" />
        </form>
        <h3>CSV入力</h3>
    </body>
</html>